#main-site {
    position: relative;
    height: fit-content;
}

header {
    margin: auto;
    text-align: center;
}

#book-search {
    width: 25%;
    position: absolute;
    left: 5px;
}

ul {
    list-style: none;
    padding-left: 0%;
}

li {
    text-align: center;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#book-details {
    width: 40%;
    position: absolute;
    left: 30%;
}

#user-info {
    width: 25%;
    border: 2px solid black;
    position: absolute;
    right: 5px;
}

#full-details {
    border: 1px solid black;
}

input {
    margin: 5px;
}

select {
    margin: 5px;
}

.float {
    float: left;
    margin-right: 10px;
}

.search-next-btns {
    display: none;
}

.search-previous-btns {
    display: none;
}